<!--start-single-->
<script type="text/javascript">
	$(function() {
	
	    var menu_ul = $('.menu_drop > li > ul'),
	           menu_a  = $('.menu_drop > li > a');
	    
	    menu_ul.hide();
	
	    menu_a.click(function(e) {
	        e.preventDefault();
	        if(!$(this).hasClass('active')) {
	            menu_a.removeClass('active');
	            menu_ul.filter(':visible').slideUp('normal');
	            $(this).addClass('active').next().stop(true,true).slideDown('normal');
	        } else {
	            $(this).removeClass('active');
	            $(this).next().stop(true,true).slideUp('normal');
	        }
	    });
	
	});
</script>
<div class="single ">
    <div class="container">
        <div class="single-main">
                <div class="col-md-1"></div>
            <div class="col-md-9 single-main-left">
                <div class="sngl-top">
                    
                    <div class="col-md-5 single-top-left">
                        <div class="flexslider">
                            <ul class="slides">
                                <li  data-thumb="../slike/{{proiz.slike[0].putanjaSlika}}">
                                    <div class="thumb-image"> <img src="../slike/{{proiz.slike[0].putanjaSlika}}" data-imagezoom="true" class="img-responsive" alt="" /> 
                                       </div>
                                </li>
                                <li  data-thumb="../slike/{{proiz.slike[1].putanjaSlika}}">
                                    <div class="thumb-image"> <img src="../slike/{{proiz.slike[1].putanjaSlika}}" data-imagezoom="true" class="img-responsive" alt="" /> 
                                       </div>
                                </li>
                                <li  data-thumb="../slike/{{proiz.slike[2].putanjaSlika}}">
                                    <div class="thumb-image"> <img src="../slike/{{proiz.slike[2].putanjaSlika}}" data-imagezoom="true" class="img-responsive" alt="" /> 
                                       </div>
                                </li>
                            </ul>
                        </div>
                        <!-- FlexSlider -->
                        <script src="js/imagezoom.js"></script>
                        <script defer src="js/jquery.flexslider.js"></script>
                        <link rel="stylesheet" href="css/flexslider.css" type="text/css" media="screen" />
                        <script>
                            // Can also be used with $(document).ready()
                           // $(window).load(function () {
                                $(document).ready(function () {
                                $('.flexslider').flexslider({
                                    animation: "slide",
                                    controlNav: "thumbnails"
                                });
                            });
                        </script>

                        
                    </div>
                    <div class="col-md-7 single-top-right">
                        <div class="single-para simpleCart_shelfItem">
                            <h2>{{proiz.nazivProizvod}}</h2>
                            <div class="star-on">
                                <ul class="star-footer">
                                    <li><a href="#"><i> </i></a></li>
                                    <li><a href="#"><i> </i></a></li>
                                    <li><a href="#"><i> </i></a></li>
                                    <li><a href="#"><i> </i></a></li>
                                    <li><a href="#"><i> </i></a></li>
                                </ul>
                                <div class="review">
                                    <a href="#"> 1 customer review </a>

                                </div>
                                <div class="clearfix"> </div>
                            </div>

                            <h5 class="item_price">
                                    <h5 class=" item_price" data-ng-if="proiz.popustProizvod!=0" ><s> {{proiz.cenaProizvod }} Rsd </s><small>( Popust: {{proiz.popustProizvod}}% )</small><br/>
                                    <span class=" item_price " style="color:brown;"> {{getPrice(proiz.cenaProizvod ,proiz.popustProizvod)}} Rsd</span></h5>
                            <p>{{proiz.opis}}</p>

                            <ul class="tag-men">
                                <li><span>TAG</span>
                                    <span class="women1">: {{proiz.nazivKategorija}}</span></li>
                                <li><span>SKU</span>
                                    <span class="women1">: {{proiz.idProizvod}}</span></li>
                            </ul>
                            <div class="product-bottom ">
                            <ngcart-addtocart id="{{ proiz.idProizvod }}" 
                            name="{{ proiz.nazivProizvod }}" 
                            price="{{ getPrice(proiz.cenaProizvod ,proiz.popustProizvod) }}" 
                            quantity="1" 
                            quantity-max="30" 
                            data="proiz"
                            template-url="template/ngCart/dodajukorpu.html">
                </ngcart-addtocart>
            </div>
                           

                        </div>
                    </div>
                    <div class="clearfix"> </div>
                </div>
                
            </div>
            
            <div class="clearfix"> </div>
        </div>
    </div>
</div>
<!--end-single-->
