<div ng-hide="attrs.id">
    <a class="btn btn-lg btn-primary" ng-disabled="true" ng-transclude></a>

</div>
<div ng-show="attrs.id">
    <div> 
        <span ng-show="quantityMax">
            <select name="quantity" id="quantity" ng-model="q"  class="form-select-kol"
                    ng-options=" v for v in qtyOpt"></select>
        </span>
        <a class="btn btn-sm btn-primary"
           ng-click="ngCart.addItem(id, name, price, q, data)"
           ng-transclude>
           <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span> UBACI U KORPU</a>
    </div>
    
    <mark  ng-show="false">
        This item is in your cart. <a ng-click="ngCart.removeItemById(id)" style="cursor: pointer;">Remove</a>
    </mark>

</div>